/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #333;
    margin-top: 30px;
}

.logo{
    top: 13px;
    left: 13%;
    width: 16.5%;
    height: 53px;
    position:fixed;
    padding-top: 11px;
}

/* Cart table */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #333;
    color: #fff;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table img {
    height: auto;
    border-radius: 5px;
}

table th {
    text-transform: uppercase;
}

table td {
    color: #555;
}

/* Action buttons */
.remove-btn {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #ff1c1c;
}

button {
    background-color: #5cb85c;
    color: rgb(15, 7, 7);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fcff42d6;
}

.quantity-btn {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #383d3860;

}

/* Cart total section */
.cart-total {
    margin-top: 20px;
    width: 80%;
    text-align: center;
    font-size: 1.5em;
}

.cart-total h2 {
    color: #333;
}

p {
    color: #888;
    font-size: 1.2em;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
    table, .cart-total {
        width: 100%;
    }

    table th, table td {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 12px;
    }

    .cart-total {
        justify-content: center;
    }
}
